{% extends '../wrapper.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<section>
    <div class="container">
        <div class="grid">
            <div>
                <h3>Login form</h3>
                <form action="" method="POST" class="form">
                    {{form|crispy}}
                    {% csrf_token %}
                    <br>
                    <input type="submit" class="btn btn-outline-warning">
                </form>
            </div>
            <div>
                <img src="{% static 'src/Login.png' %}" alt="" class="img-fluid w-75">
            </div>
        </div>

    </div>
</section>
{% endblock %}
