{% extends '../wrapper.html' %}
{% load static %}
{% block content %}
<!-- title  -->
{% block title %}
<title>
    Profile
</title>
{% endblock title %}
<!-- end title  -->
<div class="container">
    <article>
        <div class="grid">
            <div class="user-info">
                <img src="{% if user.image %} {{user.image.url}} {% else %}https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp {% endif %}"
                    alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                <br>
                <br>
                <h5 class="my-3">{{user.get_full_name}}</h5>
                <div class="grid">
                    <a href="{{user.facebook_link}}" target="_blank">
                        <ion-icon name="logo-facebook" size="large"></ion-icon>
                    </a>
                    <a href="{{user.instagram_link}}" target="_blank">
                        <ion-icon name="logo-instagram" size="large"></ion-icon>
                    </a>
                    <a href="{{user.telegram_link}}" target="_blank">
                        <ion-icon name="paper-plane-outline" size="large"></ion-icon>
                    </a>
                </div>
                <br>
                {% if request.user.username == user.username %}
                <a href="{% url 'accounts:profile_edit' request.user.id %}" role="button">

                    Edit
                </a>
                <a href="{% url 'forum:add_topic' %}" role="button">
                    Add new topic
                </a>
                {% else %}
                <h4>dsds</h4>
                {% endif %}

            </div>
            <div class="main">

                <h4>Username : {{user.username}}</h4>
                <h4>First name : {{user.first_name}}</h4>
                <h4>Last name : {{user.last_name}}</h4>
                <h4>Email : {{user.email}}</h4>
                <h4>Address : {{user.address}}</h4>
                <p>{{user.bio}}</p>

            </div>
        </div>

    </article>

</div>
{% endblock %}
