{% extends '../wrapper.html' %}
{% load static %}
{% block content %}
<!-- title  -->
{% block title %}
<title>
    Profile -
    {% if request.user.first_name %}
    {{request.user.first_name}}
    {% else %}
    {{request.user.username}}
    {% endif %}
</title>
{% endblock title %}
<!-- end title  -->
<div class="container">
    <article>
        <div class="grid">
            <div class="user-info">
                <img src="{% if request.user.image %} {{request.user.image.url}} {% else %}https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp {% endif %}"
                    alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                <br>
                <br>
                <h5 class="my-3">{{request.user.get_full_name}}</h5>
                <div class="grid">
                    <a href="{{request.user.facebook_link}}" target="_blank">
                        <ion-icon name="logo-facebook" size="large"></ion-icon>
                    </a>
                    <a href="{{request.user.instagram_link}}" target="_blank">
                        <ion-icon name="logo-instagram" size="large"></ion-icon>
                    </a>
                    <a href="{{request.user.telegram_link}}" target="_blank">
                        <ion-icon name="paper-plane-outline" size="large"></ion-icon>
                    </a>
                </div>
                <br>
                <a href="{% url 'accounts:profile_edit' request.user.id %}" role="button">

                    Edit
                </a>

            </div>
            <div class="main">

                <h4>Username : {{request.user.username}}</h4>
                <h4>First name : {{request.user.first_name}}</h4>
                <h4>Last name : {{request.user.last_name}}</h4>
                <h4>Email : {{request.user.email}}</h4>
                <h4>Address : {{request.user.address}}</h4>
                <p>{{request.user.bio}}</p>

            </div>
        </div>

    </article>

</div>
{% endblock %}
