{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
<section>
    <div class="container">
        <div class="grid">
            {% for topic in object_list %}
            <div class="topics">
                <div class="topic">
                    <a href="{% url 'forum:category_list' topic.category.slug %}">{{topic.category}}</a>
                    <br>
                    <h5>
                        <a href="{% url 'forum:detail' topic.slug %}">
                            {{topic.title}}
                        </a>
                    </h5>
                    <br>
                    <p class="grid">
                        <span>
                            <ion-icon name="eye-outline"></ion-icon> {{topic.views}}
                        </span>

                        <span><ion-icon name="person-outline"></ion-icon>{{topic.author}}</span>
                    </p>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
